/* app css stylesheet */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Thin"), local("Roboto-Thin"), url(roboto-thin-latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #222;
    text-align: center;
}

body:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#content {
    display: inline-block;
    vertical-align: middle;
    max-width: 400px;
    font-family: "Roboto";
    font-weight: 100;
    margin: auto;
    background-color: #F2F0ED;
    padding: 30px;
    border-radius: 2px;
}

h1 {
    font-weight: 100;
    font-size: 40px;
    color: #222;
    text-align: center;
    margin-bottom: 40px;
}

p.sync {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
    font-size: 14px;
    border-radius: 2px;
}

input {
    font-family: "Roboto";
    font-weight: 100;
    margin: 10px 0;
    padding: 5%;
    width: 90%;
    font-size: 14px;
    color: #666;
    border: 0;
    outline: 0;
    border-radius: 2px;
}

input[type=button] {
    width: 100%;
    float: left;
    background-color: #C0392B;
    color: #FFF;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
}

input[type=button].button-bar {
    width: 49%;
}

input[type=button].button-bar.right {
    float: right;
    background-color: #444;
}

input[type=button].button-bar.right:hover {
    background-color: #222;
}

input[type=button]:hover {
    background-color: #96281B;
}