<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Offline App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div id="content" ng-controller="content">
        <form ng-hide="master.login" novalidate>
            <div class="main" id="login">
                <h1>Offline App</h1>
                <input type="text" placeholder="Username" class="block" ng-model="master.auth.username">
                <input type="password" placeholder="Password" class="block" ng-model="master.auth.password">
                <input type="password" placeholder="Tenant ID" class="block" ng-model="master.auth.tenant">
                <input type="button" value="Login" class="button-bar block" ng-click="login()">
                <input type="button" value="Reset" class="button-bar right block" ng-click="reset()">
            </div>
        </form>
        
        <form ng-hide="master.sheet" novalidate>
            <ul id="sidebar">
                <li ng-repeat="group in master.data track by group.groupId" ng-number="{{group.groupId}}" ng-click="master.current=$index" ng-class="{active: master.current==$index}">{{group.groupName}}</li>
            </ul>
            <div class="main">
                <h1>Offline App</h1>
                <table cellspacing="0">
                    <thead>
                        <tr>
                            <th><input type="text" value="Client Name" disabled="disabled"></th>
                            <th><input type="text" value="Principal Due ($)" disabled="disabled"></th>
                            <th><input type="text" value="Principal Paid ($)" disabled="disabled"></th>
                            <th><input type="text" value="Interest Due ($)" disabled="disabled"></th>
                            <th><input type="text" value="Interest Paid ($)" disabled="disabled"></th>
                            <th><input type="text" value="Total Due ($)" disabled="disabled"></th>
                            <th><input type="text" value="Attendance" disabled="disabled"></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="client in master.data[master.current].clients">
                        <tr>
                            <td><input type="text" test ng-model="client.clientName"></td>
                            <td><input disabled="disabled"></td>
                            <td><input disabled="disabled"></td>
                            <td><input disabled="disabled"></td>
                            <td><input disabled="disabled"></td>
                            <td><input disabled="disabled"></td>
                            <td><input type="text" ng-model="client.attendanceType.value"></td>
                        </tr>

                        <tr ng-repeat="loan in client.loans">
                            <td><input disabled="disabled"></td>
                            <td><input ng-change="change(ngModel)" ng-model="loan.principalDue"></td>
                            <td><input ng-change="change(ngModel)" ng-model="loan.principalPaid"></td>
                            <td><input ng-change="change(ngModel)" ng-model="loan.interestDue"></td>
                            <td><input ng-change="change(ngModel)" ng-model="loan.interestPaid"></td>
                            <td><input value="{{total(loan)}}" disabled="disabled"></td>
                            <td><input disabled="disabled"></td>
                        </tr>
                    </tbody>
                </table>
                <input type="button" value="Update" class="button-bar block" ng-click="click()">
                <input type="button" value="Reset" class="button-bar right block" ng-click="reset()">
            </div>
        </form>
        
        <!--<form collection-sheet="{{master.input.groups.groupId}}">
        </form>-->
        
        <p class="sync" ng-hide="master.sheet">Last synced {{master.delay}} seconds ago</p>
        <p class="sync" ng-hide="master.connection">Could not connect to server</p>
        <p class="sync" ng-hide="master.authorised">Your login credentials were incorrect</p>
    </div>
    
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="sha3.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
</body>
</html>